extends layout

block content

    h1 Delete executive: #{executive.executive_name}


    form(method='POST' action='')
        div.form-group
            input#id.form-control(type='hidden',name='id', required='true', value=executive._id )

        button.btn.btn-primary(type='submit') Delete