extends layout

block content

    h1 Firm: #{firm.firm_name}

    hr
    p
        a(class='btn btn-warning btn-spacing')(href=firm.url+'/update') Update Firm

        a(class='btn btn-danger btn-spacing')(href=firm.url + '/delete') Delete Firm

